$body-font: $lato;
$heading-font: $playfair-display;

img{
    max-width: 100%;
}

body{
    line-height: 1.6rem;
    font-weight: 300;
    font-family: $body-font;
}
h1, .h1{
    font-family: $heading-font;
    line-height: 6.8rem;
}

h2, .h2{
    font-family: $heading-font;
    line-height: 4.6rem;
}

h4, .h4{
    line-height: 2.4rem;
}