.contact-section{
    padding: 10.8rem 0 10.1rem;
    
    .contact-form-section-title{
        font-size: 3rem;
        letter-spacing: 0.1em;
        margin-bottom: 3.4rem;
    }
    .contact-form{
        .form-group{
            margin-bottom: 2.2rem;
            .form-control{
                line-height: 4rem;
                background-color: #F5F5F5;
            }
        }
    }
    
    iframe{
        width: 100%;
        height: 509px;
    }
}