$copyright-color: #586C88;

footer{
    padding: 5rem 0 3.8rem;
    .copyright{
        color: $copyright-color;
        font-size: 1.2rem;
        line-height: 2.5rem;
        font-weight: 500;
        padding: 1.6rem 0 0;
    }
    .social{
        .social-icon{
            text-decoration: none;
            font-size: 2rem;
            margin: 0 1.6rem;
            
        }
    }
    
}