.herro-section{
    padding: 25.2rem 0 25.2rem;
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: 1440px;
    overflow: hidden;
    .herro-content-text{
            color: #FFF;
            
    }
}