.team-section{
    padding: 8.1rem 0 10.4rem;

    .team-section-title{
        padding-bottom: 2.8rem;
        margin-bottom: 4.7rem;
        position: relative;
        letter-spacing: 0.1em;
        &::after {
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            width: 9.5rem;
            height: 2px;
            background-color: $beige;
        }
    }
    .team-member{
        .row {
            --bs-gutter-x: 0;
            --bs-gutter-y: 0;
            margin: 0;
        }
        border: 2px solid $beige;
        padding: 8.7rem 9.4rem;
        .team-member-name{
            margin-bottom: 1.7rem;
            font-size: 3.6rem;
            line-height: 4.6rem;
            font-weight: 400;
        }
        .team-member-description{
            line-height: 2.8rem;
            display: -webkit-box;
            -webkit-line-clamp: 5;
            -webkit-box-orient: vertical;
            overflow: hidden;
            margin-bottom: 4.7rem;
            position: relative;
            
        }
        .team-member-image{
            overflow: hidden;
            display: block;
            padding-right: 9.5rem;
            img{
                display: block;
                width: 100%;
                transition: 0.3s linear;

            }
        }
    }

    .owl-dots{
        margin-top: 9.2rem !important;
        display: flex;
        justify-content: center;
        .owl-dot{
            flex: 0 0 8px;
            height: 8px;
            width: 9.5rem;
            height: 2px;
            background-color: $beige;
            margin: 0 7px;
        }
    }

}
