.blog-section{
    padding: 6.7rem 0 9.7rem;
    position: relative;
    .blog-section-title{
        padding-bottom: 2.8rem;
        margin-bottom: 4.1rem;
        position: relative;
        letter-spacing: 0.1em;
        &::after {
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            width: 9.5rem;
            height: 2px;
            background-color: $beige;
        }
    }
    .blog-content{

        .blog-content-data-block{
            text-align: center;
            margin: 0 2.7rem;
            position: relative;
            z-index: 3;
            left: 0;
            text-transform: none;
            bottom: 7.7rem;
            background: #fff;
        }
        .blog-content-date{
            font-style: italic;
            font-size: 1.4rem;
            line-height: 4.6rem;
            letter-spacing: 0.1em;

        }
        .blog-content-description{
            display: -webkit-box;
            -webkit-line-clamp: 5;
            -webkit-box-orient: vertical;
            overflow: hidden;
            line-height: 2.4rem;
            padding: 0 2.5rem 3rem;
            letter-spacing: 0.1em;
        }

        .blog-content-image{
            overflow: hidden;
            display: block;
            &:hover{
                img{
                    transform: scale(1.1);
                }
            }
            img{
                display: block;
                width: 100%;
                transition: 0.3s linear;

            }
        }
    }

}
