.info-section{
    padding: 7.4rem 0;
    background-color: $beige;
    margin-bottom: 5.5rem;
    .info-data{
        p{
            margin: 1.9rem 0 0;
            line-height: 2.4rem;
            font-size: 1.4rem;
        }
        a{
            text-decoration: none;
            color: #000;



        }
    }
}