.service-section {
    padding: 9.7rem 0 12.7rem;
    .service-section-title {
        padding-bottom: 2.8rem;
        margin-bottom: 4.1rem;
        position: relative;
        letter-spacing: 0.1em;
        &::after {
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            width: 9.5rem;
            height: 2px;
            background-color: $beige;
        }
    }

    .service-item {
        background-color: #f8f5f6;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        height: 100%;
        min-height: 400px;
        transition: all 0.3s ease;



        .service-item-title {
            font-family: $lato;
            margin-bottom: 4.2rem;
            font-size: 3.6rem;
            line-height: 4.6rem;
            text-transform: uppercase;
            color: #111;
            padding: 0 1.3rem 0 0;
        }

        .btn {
            border: 1px solid #000;
            border-radius: 0;
            background: transparent;
            color: #000;
            font-size: 1.4rem;
            line-height: 2.4rem;
            text-transform: uppercase;
            letter-spacing: 0.1rem;
            padding: 1.6rem 3rem;
            transition: all 0.3s ease;
            letter-spacing: 0.1em;
            &:hover {
                background-color: #000;
                color: #fff;
            }
        }

        .service-item-image {
            width: 100%;
            height: 100%;
            margin: 0;
            
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                display: block;
            }
        }
    }

    .text-block {
        padding: 0 7.1rem ;
    }

    .row {
        --bs-gutter-x: 0;
        --bs-gutter-y: 0;
        margin: 0;
        .col-md-6:nth-child(4n + 1),
            .col-md-6:nth-child(4n + 4) {
            .service-item {
                background-color: #f8f5f6;
            }
        }

        .col-md-6:nth-child(4n + 4),
            .col-md-6:nth-child(4n + 8) {
            .service-item {
                background-color: $beige;
            }
        }
    }

    @media (max-width: 768px) {
        .service-item {
            text-align: center;
            align-items: center;
            padding: 4rem 2rem;
            min-height: auto;

            .service-item-title {
                max-width: 100%;
            }

            .btn {
                padding: 0.8rem 2.5rem;
            }
        }
    }
}
